.main-contact{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media only screen and (max-width: 844px) {
        grid-template-columns: 1fr;
    }
}

.cu-body{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 620px;
    padding: 90px clamp(40px, 7vw, 120px) 90px 0px;
    justify-self: end;

    @media only screen and (max-width: 844px) {
        justify-self: center;
        padding: 75px 0 75px 0;
    }
}

.cu-title{
    color: $vio-p;
    font-size: $text2638;
    padding: 12px 0px;
    font-weight: 800;
}

.cu-text{
    color: $black;
    font-size: $text1624;
    line-height: 30px;
    margin-top: 20px;
}

.git-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 90px 0px 90px 120px;
    justify-self: start;
    background-color: $vio-p;

    @media only screen and (max-width: 844px) {
        padding: 75px 0 75px 0;
        align-items: center;
    }
}

.git-bodyAux{
    width: 90%;
    max-width: 620px;
}

.git-title{
    color: $white;
    font-size: $text2638;
    padding: 12px 0px;
    font-weight: 800;
}

.git-ciBody{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
}

.git-ciCont{
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    grid-template-areas: "img ciCam"
                        "img ciInfo";
}

.git-imgCont{
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: img;
}

.git-ciCam{
    color: $white;
    font-size: $text1826;
    font-weight: 500;
    grid-area: ciCam;
}

.git-ciInfo{
    color: $white;
    font-size: $text1421;
    font-weight: 300;
    grid-area: ciInfo;
}

.git-email{
    text-decoration: underline;
}