.footer{
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0px;
    width: 100%;
    gap: 75px;
}

.footer-body{
    width: 90%;
    max-width: 1240px;
    display: grid;
    grid-template-areas: "img nav tim";
    grid-template-columns: 1fr .5fr 1fr;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 844px) {
        grid-template-areas: "nav tim"
                            "img img";
        grid-template-columns: .5fr 1fr;
        gap: 40px;
    }
}

.footer-imgCont{
    width: 250px;
    grid-area: img;
}

.footer-navbar-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    grid-area: nav;
}

.footer-navbar-item{
    font-size: $text1421;
    list-style-type: none;
}

.footer-navbar-link{
    color: $white;
    cursor: pointer;

    &:hover{
        color: $grey;
    }
}

.footer-buhCont{
    display: flex;
    flex-direction: column;
    gap: 25px;
    grid-area: tim;
}

.footer-buhPres{
    color: $white;
    font-size: $text1421;
    font-weight: 600;
}

.footer-buhHours{
    color: $white;
    font-size: $text1421;
    font-weight: 500;

    span{
        font-weight: 200;
    }
}

.footer-chiCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.chi-imgCont{
    width: 40px;
}

.chi-text{
    color: $white;
    font-size: $text1316;
}

.footer-buhHoursCont{
    display: flex;
    align-items: center;
    gap: 15px;
}

.buhHoursImgCont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
}