html{
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente-texto;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

.button{
    font-family: $fuente-titulo;
    color: $white;
    font-weight: 900;
    text-transform: uppercase;
    background-color: $vio-p;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    aspect-ratio: 3/1;
    cursor: pointer;
    
    &:hover{
        background-color: $grey;        
    }
    
    &:active{
        background-color: $white;
        color: $vio-p;
    }
}

.claro{
    background-color: $grey;
    color: $vio-s;

    &:hover{
        background-color: #f1f1f1;        
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
