.main-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 86px;
    padding-top: 175px;
    width: 100%;
    height: 95vh;

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("../images/heroph.jpg");
        background-size: cover;
        background-position: left;
        filter: grayscale(1);
        z-index: -1;
    }

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        backdrop-filter: brightness(0.3);
        filter: blur(3px);
        z-index: -1;
    }
}

.hero-textCont{
    width: 90%;
    max-width: 1240px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

    .button{
    font-size: $text1114;
    width: clamp(100px, 9vw, 150px);
    }
}

.hero-title{
    font-family: $fuente-titulo;
    color: $white;
    text-transform: uppercase;
    font-size: $h1size;
    font-weight: 300;
    width: 90%;
    max-width: 850px;

    span{
        font-weight: 800;
        font-size: $h1spansize;
        color: $vio-p;
        text-shadow: 2px 2px 5px #1a1a1a;
    }
}

.hero-text{
    color: $white;
    font-size: $text1420;
    width: 90%;
    max-width: 640px;
    line-height: 33px;
    font-weight: 300;

    span{
        font-weight: 700;
        font-size: $text1622;
    }

    br{
        margin-bottom: 35px;
    }
}

.hero-imgCont{
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    filter: brightness(0.3);

    img{
        filter: grayscale(1);
    }
}

@import "slider"