$fuente-texto: 'Roboto', sans-serif;
$fuente-titulo:  'Almarai', sans-serif;

$vio-p: #6F0C88;
$vio-s: #bb49d8;
$white: #fff;
$black: #000;
$grey: #8a8a8a;

$h1size: clamp(38px , 5vw, 60px);
$h1spansize: clamp(50px , 5vw, 75px);
$text2638: clamp(26px , 5vw, 38px);
$text2334: clamp(23px , 5vw, 34px);
$text1826: clamp(18px , 4vw, 26px);
$text1624: clamp(16px , 3vw, 24px);
$text1422: clamp(14px , 3vw, 22px);
$text1421: clamp(14px , 3vw, 21px);
$text1420: clamp(14px , 2vw, 20px);
$text1418: clamp(14px , 2vw, 18px);
$text1318: clamp(13px , 2vw, 18px);
$text1316: clamp(13px , 2vw, 16px);
$text1114: clamp(11px , 1vw, 14px);




// @media only screen and (max-width: 844px) {
//     background-size: 80%;
//     padding: 70px 0px;
// }



