$fuente-texto: 'Roboto', sans-serif;
$fuente-titulo:  'Almarai', sans-serif;

$vio-p: #6F0C88;
$vio-s: #bb49d8;
$white: #fff;
$black: #000;
$grey: #8a8a8a;

$h1size: clamp(38px , 5vw, 60px);
$h1spansize: clamp(50px , 5vw, 75px);
$text1420: clamp(12px , 2vw, 20px);
$text1622: clamp(14px , 2vw, 22px);
$text1114: clamp(11px , 1vw, 14px);