.main-whyCar{
    background: #4C2D63;
    background: radial-gradient(at left top, #4C2D63, #B09CCD);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: clamp(70px, 10vw, 90px) 0 120px 0;
    position: relative;

    @media only screen and (max-width: 593px) {
        padding-bottom: 200px;
    }

    
    // &::before{
    //     content: "";
    //     background-image: url(../images/Xx.svg);
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     background-repeat: no-repeat;
    //     background-size: 250px;
    //     background-position: right;
    //     background-position-y: 160px;
    //     right: 3%;
    //     opacity: 0.2;
    // }
}

.whyCar-title{
    color: $white;
    font-size: $text2638;
    padding: 12px 0px;
    font-weight: 800;
    text-align: center;
    width: 90%;
}

.whyCar-raBody{
    position: relative;
    width: 90%;
    max-width: 1240px;
    height: 415px;
}

.whyCar-raCont{
    width: 100%;
    max-width: 1240px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    z-index: 10;
}

.whyCar-ra{
    width: 100%;
    border: 1.5px solid $white;
    padding: 10px 20px;
    display: grid;
    grid-template-rows: 30px 0fr;
    gap: 0px;
    transition: all 0.25s linear;

    &::marker{
        color: $white;
    }
}

.whyCar-ra.expanded{
    grid-template-rows: 30px 1fr;
    gap: 25px;

    @media only screen and (max-width: 844px) {
        gap: 10px;
    }

}

.whyCar-raTextCont{
    overflow: hidden;
}

.whyCar-raNum{
    color: $white;
    font-size: $text1624;
    font-weight: 900;
}

.whyCar-raTitle{
    color: $white;
    font-size: $text1624;
    font-weight: 900;
}

.whyCar-raTitlebar{
    display: grid;
    grid-template-columns: 2fr 70fr 1fr;
    align-items: center;
    cursor: pointer;
}

.whyCar-raImgCont{
    width: 10px;
    transition: all 0.25s linear;
}

.whyCar-ra.expanded .whyCar-raImgCont{
    transform: rotate(90deg);
}

.whyCar-raText{
    color: $white;
    font-size: $text1318;
    line-height: 35px;
}