.main-whyCh{
    background-color: #111111;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(70px, 10vw, 90px) 0px;

    &::after{
        content: "";
        background-image: url(../images/5.png);
        background-repeat: no-repeat;
        width: 100%;
        opacity: 0.2;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;

        @media only screen and (max-width: 844px) {
            left: -200px;
        }
    }
}

.whych-body{
    width: 90%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    position: relative;
    z-index: 10;
}

.whych-title{
    color: $white;
    font-size: $text2638;
    font-weight: 800;
}

.whych-raBody{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "ex ex qa qa cca cca"
                        "cet cet cet td td td";
    gap: 120px 20px;
    justify-items: center;
    justify-content: center;

    @media only screen and (max-width: 1240px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "ex qa"
                            "cca cet"
                            "td td";
        width: 90%;
    }

    @media only screen and (max-width: 844px) {
        grid-template-columns: 1fr;
        grid-template-areas: "ex"
                            "qa"
                            "cca"
                            "cet"
                            "td"
                            ;
        width: 80%;
    }
}

#ex{
    grid-area: ex;
}
#qa{
    grid-area: qa;
}
#cca{
    grid-area: cca;
}
#cet{
    grid-area: cet;
}
#td{
    grid-area: td;
}

.whych-raCont{
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 420px;
    background-color: #252525da;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 95px 35px 50px 35px;
    gap: 25px;
    box-shadow: 0px 15px 10px $black;
    aspect-ratio: 1/1.05;

    @media only screen and (max-width: 1240px) {
        grid-template-columns: 1fr 1fr;
        width: 90%;
        padding: 75px 25px 30px 25px;
        height: 380px;
    }

    @media only screen and (max-width: 844px) {
        grid-template-columns: 1fr;
        width: 80%;
        height: 350px;
    }
}

.whych-raImgCont{
    background-color: #252525;
    position: absolute;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    padding: 20px;
    border: 2px solid $white;
    border-radius: 50%;
}

.whych-raTitle{
    color: $vio-p;
    font-size: $text1624;
    font-weight: 900;
    text-shadow: 2px 2px 5px #1a1a1a;
}

.whych-raText{
    color: $white;
    font-size: $text1318;
    line-height: 35px;
}